ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.top-head{
	padding: 0;
	margin: 0;
	padding-top: 18px;
}
.main-logo{
	width: 136px;
	height: 51px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
}
.main-menu{
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	max-width: 485px;
	margin: 0 auto;
}
.main-menu li{
	display: block;
	font-size: 14px;
}
.main-menu a{
	color: black;
	text-decoration: none;
	color: #434667;
}
.main-menu a:hover{
	color: #f26a69;
	text-decoration: none;
}
.main-menu .active a{
	color: #f26a69;
}
header .social{
	padding-top: 13px;
	display: flex;
	justify-content: space-around;
}
header .social a{
	width: 35px;
	height: 35px;
	display: block;
	border: 1px solid #cccccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
header .social i{
	color: #434667;
	display: block;
}
main{
	margin: 0 auto;
	max-width: 1920px;
	max-height: 999px;
	background-image: linear-gradient(45deg, rgba(242, 235, 77, .29), rgba(184, 106, 171, .29)),
						url("../images/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.main-fruit{
	color: white;
}
