@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('../fonts/ArialRoundedMTBold.eot');
  src: url('../fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg'),
       url('../fonts/ArialRoundedMTBold.ttf') format('truetype'),
       url('../fonts/ArialRoundedMTBold.woff') format('woff'),
       url('../fonts/ArialRoundedMTBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../fonts/Pacifico-Regular.eot');
  src: url('../fonts/Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Pacifico-Regular.svg#Pacifico-Regular') format('svg'),
       url('../fonts/Pacifico-Regular.ttf') format('truetype'),
       url('../fonts/Pacifico-Regular.woff') format('woff'),
       url('../fonts/Pacifico-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Italic';
  src: url('../fonts/MyriadPro-It.eot');
  src: url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-It.svg#MyriadPro-It') format('svg'),
       url('../fonts/MyriadPro-It.ttf') format('truetype'),
       url('../fonts/MyriadPro-It.woff') format('woff'),
       url('../fonts/MyriadPro-It.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('../fonts/Raleway-Regular.ttf') format('truetype'),
       url('../fonts/Raleway-Regular.woff') format('woff'),
       url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





