ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.top-head{
	padding: 0;
	margin: 0;
	padding-top: 18px;
}
.main-logo{
	width: 136px;
	height: 51px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
}
.main-menu{
	font-family: "ArialRoundedMTBold";
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	max-width: 485px;
	margin: 0 auto;
}
.main-menu li{
	display: block;
	font-size: 14px;
}
.main-menu a{
	color: #434667;
	text-decoration: none;
}
.main-menu a:hover{
	color: #f26a69;
	text-decoration: none;
}
.main-menu .active a{
	color: #f26a69;
}
header .social{
	padding-top: 13px;
	display: flex;
	justify-content: space-around;
}
header .social a{
	width: 35px;
	height: 35px;
	display: block;
	border: 1px solid #cccccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
header .social i{
	color: #434667;
	display: block;
}
header{
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
}
main{
	margin: 0 auto;
	max-width: 1920px;
	max-height: 999px;
	background-image: linear-gradient(180deg, rgba(184, 106, 171, .29), rgba(242, 235, 77, .29)),
						url("../images/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.main-fruit h4{
	font-family: "Pacifico-Regular";
	font-size: 8vw;
	text-align: center;
	margin-top: 212px;
	color: white;
}
.main-fruit h1{
	font-family: "ArialRoundedMTBold";
	font-size: 15vw;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 110px;
	line-height: 1;
	color: white;
}
.main-fruit button{
	height: 35px;
	width: 125px;
	color: white;
	background: linear-gradient(180deg, #c13d32,#f04941);
	border: 1px solid #f26a69;
	font-family: "MyriadPro-Regular";
	font-size: 14px;
	margin: 0 auto 220px;
	display: block;
	cursor: pointer;
}
.main-fruit button,
.main-fruit button:active,
.main-fruit button:focus{
	outline: none;
}
.futures-1{
	color: #333333;
}
.futures-1 .introd h4{
	margin: 0;
	padding: 0;
	margin-top: 85px;
	text-align: center;
	font-size: 24px;
	font-family: "Pacifico-Regular";
}
.futures-1 .introd h3{
	margin: 0;
	padding: 0;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	font-family: "ArialRoundedMTBold";
}
.futures-1 .introd p{
	margin: 0;
	padding: 0;
	margin-top: 65px;
	color: #999999;
	text-align: center;
	font-size: 24px;
	font-family: "ArialRoundedMTBold";
}
.futures-1 .circles .circle{
	font-family: "ArialRoundedMTBold";
	background-position: center 0;
	position: relative;
	margin-top: 110px;
}
.circle-1{
	background: url("../images/circle-1.png") no-repeat;
}
.circle-2{
	background: url("../images/circle-2.png") no-repeat;
}
.circle-3{
	background: url("../images/circle-3.png") no-repeat;
}
.circle-4{
	background: url("../images/circle-4.png") no-repeat;
}
.futures-1 .circles .circle span{
	font-size: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.futures-1 .circles .circle span:first-of-type{
	font-size: 60px;
	margin-top: 68px;
	margin-bottom: 90px;
}
.futures-1 .blocks{
	margin-top: 25px;
}
.futures-1 .blocks .phone-photo{
	background: url("../images/mob-img-min.jpg") no-repeat center center;
	height: 420px;
}
.quote .left-icon{
	width: 162px;
	height: 93px;
	padding: 1px;
	background-color: #f36a40;
	background-image: linear-gradient(0deg, rgba(255,255,0,0.29),rgba(255,0,255,0.29));
}
.quote .man-icon{
	margin-top: 6px;
	margin-left: 125px;
	background-image: url("../images/man-ico.svg");
	background-repeat: no-repeat;
	width: 79px;
	height: 77px;
}
.quote{
	margin-top: 140px;
}
.quote .qot{
	font-family: "MyriadPro-Italic";
	color: #434667;
	font-size: 18px;
	position: relative;
}
.quote .qot p{
	max-width: 780px;
}
.quote .qot::after{
	top: 39px;
	left: -58px;
	content: "";
	position: absolute;
	border: 15px solid transparent;
	border-right: 18px solid #434667;
}
.quote .qot::before{
	top: 39px;
	right: -20px;
	content: "";
	position: absolute;
	border: 15px solid transparent;
	border-left: 18px solid #434667;
}
