ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.top-head{
	padding: 0;
	margin: 0;
	padding-top: 18px;
}
.main-logo{
	width: 136px;
	height: 51px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
}
.main-menu{
	font-family: "ArialRoundedMTBold";
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	max-width: 485px;
	margin: 0 auto;
}
.main-menu li{
	display: block;
	font-size: 14px;
}
.main-menu a{
	color: black;
	text-decoration: none;
	color: #434667;
}
.main-menu a:hover{
	color: #f26a69;
	text-decoration: none;
}
.main-menu .active a{
	color: #f26a69;
}
header .social{
	padding-top: 13px;
	display: flex;
	justify-content: space-around;
}
header .social a{
	width: 35px;
	height: 35px;
	display: block;
	border: 1px solid #cccccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
header .social i{
	color: #434667;
	display: block;
}
header{
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
}
main{
	margin: 0 auto;
	max-width: 1920px;
	max-height: 999px;
	background-image: linear-gradient(180deg, rgba(184, 106, 171, .29), rgba(242, 235, 77, .29)),
						url("../images/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.main-fruit{
	color: white;

}
.main-fruit h4{
	font-family: "Pacifico-Regular";
	font-size: 72px;
	text-align: center;
	margin-top: 212px;
}
.main-fruit h1{
	font-family: "ArialRoundedMTBold";
	font-size: 150px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 110px;
	line-height: 1;
}
.main-fruit button{
	height: 35px;
	width: 125px;
	color: white;
	background: linear-gradient(180deg, #c13d32,#f04941);
	border: 1px solid #f26a69;
	font-family: "MyriadPro-Regular";
	font-size: 14px;
	margin: 0 auto 220px;
	display: block;
	cursor: pointer;
}
.main-fruit button,
.main-fruit button:active,
.main-fruit button:focus{
	outline: none;
}