ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
button,
button:active,
button:focus{
	outline: none !important;
}
.top-head{
	padding: 0;
	margin: 0;
	padding-top: 18px;
}
.main-logo{
	width: 136px;
	height: 51px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
}
.main-menu{
	font-family: "ArialRoundedMTBold";
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	max-width: 485px;
	margin: 0 auto;
}
.main-menu li{
	display: block;
	font-size: 14px;
}
.main-menu a{
	color: #434667;
	text-decoration: none;
}
.main-menu a:hover{
	color: #f26a69;
	text-decoration: none;
}
.main-menu .active a{
	color: #f26a69;
}
header .social{
	padding-top: 13px;
	display: flex;
	justify-content: space-around;
}
header .social a{
	width: 35px;
	height: 35px;
	display: block;
	border: 1px solid #cccccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
header .social i{
	color: #434667;
	display: block;
}
header{
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1;
}
main{
	margin: 0 auto;
	max-width: 1920px;
	max-height: 999px;
	background-image: linear-gradient(180deg, rgba(184, 106, 171, .29), rgba(242, 235, 77, .29)),
						url("../images/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.main-fruit h4{
	font-family: "Pacifico-Regular";
	font-size: 8vw;
	text-align: center;
	margin-top: 212px;
	color: white;
}
.main-fruit h1{
	font-family: "ArialRoundedMTBold";
	font-size: 15vw;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 110px;
	line-height: 1;
	color: white;
}
.main-fruit button{
	height: 35px;
	width: 125px;
	color: white;
	background: linear-gradient(180deg, #c13d32,#f04941);
	border: 1px solid #f26a69;
	font-family: "MyriadPro-Regular";
	font-size: 14px;
	margin: 0 auto 220px;
	display: block;
	cursor: pointer;
}
.futures-1{
	color: #333333;
}
.futures-1 .introd h4{
	margin: 0;
	padding: 0;
	margin-top: 85px;
	text-align: center;
	font-size: 24px;
	font-family: "Pacifico-Regular";
}
.futures-1 .introd h3{
	margin: 0;
	padding: 0;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	font-family: "ArialRoundedMTBold";
}
.futures-1 .introd p{
	margin: 0;
	padding: 0;
	margin-top: 65px;
	color: #999999;
	text-align: center;
	font-size: 24px;
	font-family: "ArialRoundedMTBold";
}
.futures-1 .circles .circle{
	font-family: "ArialRoundedMTBold";
	background-position: center 0;
	position: relative;
	margin-top: 110px;
}
.circle-1{
	background: url("../images/circle-1.png") no-repeat;
}
.circle-2{
	background: url("../images/circle-2.png") no-repeat;
}
.circle-3{
	background: url("../images/circle-3.png") no-repeat;
}
.circle-4{
	background: url("../images/circle-4.png") no-repeat;
}
.futures-1 .circles .circle span{
	font-size: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.futures-1 .circles .circle span:first-of-type{
	font-size: 60px;
	margin-top: 68px;
	margin-bottom: 90px;
}
.futures-1 .blocks{
	margin-top: 25px;
}
.futures-1 .blocks .phone-photo{
	background: url("../images/mob-img-min.jpg") no-repeat center center;
	height: 420px;
}
.quote .left-icon{
	width: 162px;
	height: 93px;
	padding: 1px;
	background-color: #f36a40;
	background-image: linear-gradient(0deg, rgba(255,255,0,0.29),rgba(255,0,255,0.29));
}
.quote .man-icon{
	margin-top: 6px;
	margin-left: 125px;
	background-image: url("../images/man-ico.svg");
	background-repeat: no-repeat;
	width: 79px;
	height: 77px;
}
.quote{
	margin-top: 140px;
	position: relative;
}
.quote .qot{
	font-family: "MyriadPro-Italic";
	color: #434667;
	font-size: 18px;
	position: relative;
}
.quote .qot p{
	max-width: 780px;
	margin-bottom: 300px;
}
.quote .qot::after{
	top: 39px;
	left: -58px;
	content: "";
	position: absolute;
	border: 15px solid transparent;
	border-right: 18px solid #434667;
}
.quote .qot::before{
	top: 39px;
	right: -20px;
	content: "";
	position: absolute;
	border: 15px solid transparent;
	border-left: 18px solid #434667;
}

.quotes{
	right: -90px;
	top: 82px;
	position: absolute;
	width: 291px;
	height: 247px;
	background-image: url("../images/quotes.png");
}
.type-of-product ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 18px;
	font-family: "ArialRoundedMTBold";
}
.type-of-product li{
	width: 120px;
	margin-bottom: 15px;
}
.type-of-product li div{
	background-image: url("../images/product-icons.png");
	background-repeat: no-repeat;
	height: 58px;
	width: 58px;
	margin: 0 auto;
}
.type-of-product .type-2 div{
	background-position: -55px 0;
}
.type-of-product .type-3 div{
	background-position: -117px 0;
}
.type-of-product .type-4 div{
	background-position: -175px 0;
	width: 55px;
}
.type-of-product .type-5 div{
	background-position: -230px 0;
}
.price ul:first-of-type{
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 18px;
	font-family: Arial, sans-serif;
}
.price li{
	width: 270px;
	height: 330px;
	margin-bottom: 15px;
	border: 1px solid #cccccc;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.price li div{
	background-repeat: no-repeat;
	align-self: center;
}
.price li span{
	align-self: flex-end;
	display: block;
}
.price .product-1 div{
	background-image: url("../images/fruit-1.png");
	width: 245px;
	height: 159px;
}
.price .product-2 div{
	background-image: url("../images/fruit-2.png");
	width: 260px;
	height: 237px;
}
.price .product-3 div{
	background-image: url("../images/fruit-3.png");
	width: 265px;
	height: 175px;
}
.price .product-4 div{
	background-image: url("../images/fruit-4.png");
	width: 246px;
	height: 192px;
}
.price-slider .dotes{
	text-align: center;
}
.price-slider .dotes li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #b4b4b4;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.price-slider .dotes .active{
	height: 12px;
	width: 12px;
	background-color: #e0403d;
}
.big-fruit-description{
	height: 680px;
	position: relative;
}
.big-fruit-description .backg{
	position: relative;
	width: 1400px;
	height: 525px;
	margin-left: 130px;
	margin-top: 150px;
	background-color: #ee4747;
	background-image: linear-gradient(0deg, rgba(248,239,0,0.29),rgba(237,23,245,0.29));
	color: #fff;
}
.backg .big-fruit{
	position: absolute;
	width: 1186px;
	height: 844px;
	background: url("../images/main-fruit.png") no-repeat;
	top: -150px;
	left: -470px;
}
.big-fruit-description h3{
	font-family: "Pacifico-Regular";
	font-size: 76px;
	margin-left: 815px;
	margin-bottom: 22px;
}
.on-na-block{
	margin-left: 690px;
	width: 575px;
	position: relative;
	line-height: 0.85;
	color: #cd3a3a;
}
.arrow{
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	width: 132px;
	height: 62px;
	position: absolute;
	left: 260px;
}
.big-fruit-description span{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 93px;
	width: 100%;
	display: inline-block;
}
.big-fruit-description span:last-of-type{
	text-align: right;
}
.big-fruit-description p{
	margin-top: 60px;
	width: 640px;
	margin-left: 630px;
	font-size: 16px;
	font-family: "Raleway-Regular";
}
.big-fruit-description button{
	background-color: #212121;
	width: 223px;
	height: 60px;
	color: #fff;
	font-size: 22px;
	font-family: "MyriadPro-Regular";
	border-right: 1px solid rgba(33,33,33,0.4);
	border-left: 1px solid rgba(33,33,33,0.4);
	border-top: 1px solid rgba(33,33,33,0.8);
	border-bottom: 1px solid rgba(33,33,33,0.8);
	position: absolute;
	left: 710px;
	top: 500px;
	cursor: pointer;
}
.our-team h3{
	display: inline;
	margin-top: 60px;
	width: 100%;
	font-family: "Pacifico-Regular";
	font-size: 24px;
	text-align: center;
}
.our-team h4{
	display: inline;
	width: 100%;
	font-family: "ArialRoundedMTBold";
	font-size: 30px;
	text-align: center;
}
.our-team ul,
.service ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 14px;
	font-family: "MyriadPro-Regular";
}
.our-team li,
.service li{
	width: 325px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.our-team li div,
.service li div{
	background-repeat: no-repeat;
	background-position: center center;
	height: 280px;
	width: 280px;
	border-radius: 50%;
}
.our-team .person-1 div{
	background-image: url("../images/port-1.png");
	background-position: -83px 4px;
}
.our-team .person-2 div{
	background-image: url("../images/port-2.png");
	background-position: -49px -53px;
}
.our-team .person-3 div{
	background-image: url("../images/port-3.png");
}
.our-team li span{
	font-family: "MyriadPro-Regular";
	font-size: 18px;
	margin-top: 15px;
	text-transform: uppercase;
}
.our-team li p{
	margin-top: 18px;
	font-family: "MyriadPro-Regular";
	text-align: center;
}
.service{
	margin-top: 45px;
}
.service .serv-1 div{
	background-image: url("../images/futures-icon-1.png");
}
.service .serv-2 div{
	background-image: url("../images/futures-icon-2.png");
}
.service .serv-3 div{
	background-image: url("../images/futures-icon-3.png");
}
.service li span{
	font-family: "ArialRoundedMTBold";
	font-size: 36px;
	margin-top: 11px;
	text-transform: uppercase;
}
.service li p{
	font-family: "MyriadPro-Regular";
	text-align: center;
}
.service li div{
	height: 200px;
}
.service li div{
	height: 65px;
}
.slider{
	background-color: #cbcbcb;
	height: 500px;
	position: relative;
	padding: 1px;
}
.slider div{
	color: #fff;
	font-family: "ArialRoundedMTBold";
	font-size: 71px;
	text-align: center;
	margin-top: 205px;
}
.slider::after,
.slider::before{
	content: "";
	border: 10px solid transparent;
	border-right: 10px solid #fff;
	position: absolute;
	left: 45px;
	top: 50%;
	cursor: pointer;
}
.slider::before{
	border-right: 10px solid transparent;
	border-left: 10px solid #fff;
	right: 45px;
	left: auto;
}
.map{
	margin-top: 45px;
}